<div class="container">
  <div class="left-side">
    <app-userlist (userSelected)="onUserSelected($event)"></app-userlist>
  </div>
  <div class="right-side">
    <app-chat *ngIf="selectedUser" [selectedUser]="selectedUser"></app-chat>
  </div>
</div> 

<!-- <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <app-userlist (userSelected)="onUserSelected($event)"></app-userlist>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <app-chat *ngIf="selectedUser" [selectedUser]="selectedUser"></app-chat>
        </div>
      </div>
    </div>
  </div>
</div> -->




  
  
  
  