.header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #00796b; /* Change this to your preferred color */
    color: white;
    position: fixed; /* Fix the header at the top */
    top: 0; /* Align it to the top */
    left: 0; /* Align it to the left */
    z-index: 1000; /* Ensure it stays on top of other elements */
  }
  
  .header button {
    background-color: #004d40; /* Change this to your preferred button color */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  .header .logout-button { 
    margin-left: auto; /* Push the Logout button to the right */ 
    margin-right: 1%;
  }

  .header button:hover {
    background-color: #00332a; /* Change this to your preferred hover color */
  }
  
  .header button:focus {
    outline: none;
  }
  
  .header button:disabled {
    background-color: #b0bec5; /* Change this to your preferred disabled button color */
    cursor: not-allowed;
  }
  