<div *ngIf="selectedUser"  class="chat-container"> 
  <div class="chat-header"> Chat with {{ selectedUser.username }} </div>
  <div class="messages">
    <div *ngFor="let message of messages" class="message"> 
      {{ message }} 
    </div> 
  </div>
  <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type a message..." /> 
</div>

<!-- <div *ngIf="selectedUser" class="chat-container"> -->
  <!-- <div class="chat-header">
    Chat with {{ selectedUser.username }}
  </div>
  <div class="messages">
    <div *ngFor="let msg of messages" class="message">
      {{ msg.sender }}: {{ msg.content }}
    </div>
  </div>
  <div class="message-input">
    <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type a message..." />
    <button (click)="sendMessage()">Send</button>
  </div>
</div> -->



    
 