
<!-- <div class="containerList mt-4">
    <div class="current-user mb-3">Log-in User: {{ currentUser.username }}</div> 
    <p class="user-list-title">User List</p>
    <hr>
    <div class="list-container">
      <ul class="list-group">
        <li *ngFor="let user of users" class="list-group-item user-item" (click)="selectUser(user)">
          {{ user.username }} 
        </li>
      </ul>
    </div>
  </div> -->
  <div class="containerList mt-4">
    <div class="current-user mb-3">Current User: {{ currentUser.username }}</div> 
    <p class="user-list-title">User List</p>
    <hr>
    <div class="list-container">
      <ul class="list-group">
        <li *ngFor="let user of users" 
            [class.active]="user === selectedUser" 
            class="list-group-item user-item" 
            (click)="selectUser(user)">
          {{ user.username }} 
        </li>
        </ul>
      </div>
    </div>
  
  

  
  