/* src/styles.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }
  
  .register-card {
    padding: 2rem;
    width: 100%;
    flex-direction: column; 
    align-items: center;
  }
  
  mat-card-header {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  mat-card-title {
    font-size: 1.5rem;
    color: #3b5998;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  button.full-width {
    background-color: #4c56af;
    color: white;
    font-weight: bold;
    width: 35%;
    // align-self: center;
    display: block; 
    margin: 0 auto;
    
  }
  
  button.full-width:hover {
    background-color: #45a049;
  }
  
  .login-link {
    text-align: center;
  }
  
  .login-link a {
    color: #3b5998;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  
  /* Make it responsive */
  @media (max-width: 600px) {
    .container {
      padding: 1rem;
    }
  
    .register-card {
      padding: 1rem;
    }
  }
  